@use './mixins' as *;
@use 'sass:math';

.root-section-hero {
  .bg-image {
    background-image: url(/assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    opacity: 0.1;
  }

  .row-logo {
    margin-top: rem(62);
    display: flex;
    justify-content: center;

    .logo-link {
      @include size(rem(135), rem(56));
      position: relative;
    }
  }

  .content {
    margin: rem(57) auto 0 auto;
    width: 87.2%;
    opacity: 0.9;

    .title {
      font-size: clamp(rem(26), 6.25vw, rem(52));
      font-weight: 400;
      text-transform: uppercase;
      line-height: calc(38 / 26);
      text-align: center;
      color: $white;

      em {
        font-style: normal;
        color: $green;
        font-weight: inherit;
      }
    }

    .description {
      margin-top: rem(16);
      color: $light-blue;
      font-size: clamp(rem(15), 2.34375vw, rem(18));
      text-align: center;
      line-height: calc(25 / 15);
    }
  }
}

.root-section-hero .podcasts {
  margin-top: rem(33);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: rem(16);

  .spotify {
    width: rem(56);
  }

  .apple-podcast {
    width: rem(45);
    margin-left: rem(7);
  }

  .google-podcast {
    margin-left: rem(9);
    width: rem(73);
  }

  .pocket-cast {
    width: rem(77);
  }
}

.root-section-hero .form {
  margin-top: rem(48);
  width: 100%;

  .input-container {
    width: 100%;
    position: relative;
  }

  .input-email {
    @include size(100%, rem(46));
    border-radius: 999px;
    background-color: $blueish-grey;
    border: none;
    padding: 0 rem(32);
    font-size: rem(14);
    color: $white;
    font-weight: 700;
  }

  .label-email {
    position: absolute;
    top: 0;
    left: -100vw;
    height: rem(46);
    display: flex;
    align-items: center;
    color: transparent;
    opacity: 0.5;
    font-weight: 700;
    font-size: rem(14);
    color: $white;
  }

  .input-email:placeholder-shown + .label-email {
    left: rem(32);
  }

  .message {
    color: $red;
    font-size: rem(12);
    font-weight: 700;
    margin-left: rem(32);
    margin-top: rem(8);

    &.hidden {
      display: none;
    }
  }

  .input-submit {
    margin-top: rem(16);
    margin-bottom: rem(32);
    @include size(100%, rem(46));
    border: none;
    border-radius: 999px;
    background-color: $green;
    font-size: rem(14);
    font-weight: 700;
  }
}
